.container{
    margin-top: 5%;
}

h2{
    text-align: center;
    margin-bottom: 5%;
}

.fa-download{
    display: inline-block;
    width: 100%;
}

.fa-file{
    display: inline-block;
    width: 100%;
}

.fa-trash-can{
    display: inline-block;
    width: 100%; 
}

td i {
    text-align:center;
}